{% if current_path|default('') != '/cart/' %}
<div class="site-end">
    {% if current_path|default('') != '/' %}
    <p class="page-meta">Page size: <span>{{ page_size | default('__PAGE_SIZE__') }}</span><br>Updated: Oct 4 2026</p>
    {% endif %}
    <footer class="site-footer">
        <p class="footer-line">
            <span class="footer-year">(c) {{ year }}</span>
            <span class="footer-nav">
                <a href="/pages/contact/">Contact</a>
                <a href="/pages/faq/">FAQ</a>
                <a href="/sitemap/">Sitemap</a>
                <a href="http://instagram.com/gang__tech">Instagram</a>
                <a href="https://github.com/www-gang-tech/platform">Github</a>
                <a href="/newsletters/">Newsletter</a>
            </span>
        </p>
    </footer>
</div>
{% endif %}
